.footer {
    background-color: #B755F2;
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
li{
    display: flex;
    flex-direction: column;
}
p{
    font-family: Roboto;
    color: white;
    cursor: pointer;
}
a{
    text-decoration: none;
}