body {
    background-color: #38117a;
    font-family: 'Antonio', sans-serif;
  }
  
  
  .admin-board {
    padding: 20px;
    border-top: #b755f2 1px solid;
  }
  
  .search-bar {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 500px;
    background-color: #b755f2;
  }
  
  .user-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .user-row {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;;
    width: 600px;
  }
  
  .user-row h3 {
    margin: 0;
    font-size: 18px;
    color: #38117a;
    font-weight: bold;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
  
  .user-row p {
    margin: 0;
    color: #38117a;
    margin-bottom: 5px;
    word-wrap: break-word;
  }
  
  .status-buttons {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .status-buttons span {
    flex-grow: 1;
    font-weight: bold;
    color: #38117a;
  }
  
  .approve-button,
  .disapprove-button {
    background-color: #38117a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .approve-button:hover,
  .disapprove-button:hover {
    opacity: 0.8;
  }
  
  @media screen and (max-width: 800px){
    .search-bar input {
      width: 80%;
    }

    .card-list {
      width: 90%;
      flex-direction: column;
    }

    .user-row {
      width: 90%;
    }

    .status-buttons {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      margin-top: 10px;
      gap: 5px;
    }
    
    .status-buttons span {
      flex-grow: 1;
      font-weight: bold;
      color: #38117a;
    }
    
    .approve-button,
    .disapprove-button {
      background-color: #38117a;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 8px 12px;
      cursor: pointer;
      margin: 0;
    }
}