.add-highlight-container {
    position: fixed;
    top: 30%; 
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
p{
    font-family: Roboto;
    font-size: 30px;
    margin-top: 14px;
}
.add-highlight-box {
    position: relative;
    background-color: #b755f2;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    color: #ffffff;
}
.exit-button {
    position: absolute;
    top: 1px; 
    left: 1px; 
    color: #38117a;
    background-color: #b755f2;
    border: none;
    font-weight: bold;
}
.exit-button:hover {
        color: white;
}
