body{
    margin: 0;
}
.home-two {
    background-color: #38117A;
} 
.header {
    padding: 80px 120px;
}
.header-title {
    color: white;
    font-size:40px;
    font-family: 'Anton', sans-serif;
}
h3{
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 34px;
}
.home-two-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-two-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    border-bottom: #B755F2 1px solid;
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
.home-two-paragraph {
    font-family: 'Antonio', sans-serif;
    color: white;
    width: 800px;
}
.home-two-button {
    color:  #B755F2;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Antonio', sans-serif;
}
.button-link{
    border: solid 1px #B755F2;
    border-radius: 12px;
    background-color: #38117A;
    margin-top: 18px;
    padding: 2px 16px;
    margin-bottom: 14px;
}
.button-link:hover{
    background-color: #280c58;
    border: none;
}
.fa-icon{
    margin-left: 10px;
}
.home-two-image {
    width: 250px;
}
.home-two-row .about{
    margin-top: 20px;
}

@media screen and (max-width: 800px){
    .header {
        display: none;
        padding: 80px 120px;
    }
    .header-title {
        display: none;
        color: white;
        font-size:40px;
        font-family: 'Anton', sans-serif;
    }
    .home-two-content {
        display: flex;
        flex-direction: column;
    }
    .home-two-row {
        display: flex;
        gap: 0px;
        border-bottom: #B755F2 1px solid;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
    }
    .home-two-image {
        display: none;
    }
  }
    



  
  
  