.carousel-item {
    height: 640px;
}

.carousel-img { 
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.about-section {
    background-color: #38117A;
    padding: 25px;
}

.about-section p {
    
    font-family: monospace;
    color: white;
    border-radius: 3px;
}