.carousel-item {
    height: 480px;
}

.carousel-img { 
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.carousel-img-1 {
    object-position: 35% 75% !important;
}

.about-section {
    background-color: #38117A;
}

.about_page {
    height: 500px;
}

.about-section p {
    font-family: monospace;
    color: white;
    line-height: 2.5rem;
    font-family: 'Lilita One', cursive;
    font-weight: lighter;
}

@media screen and (max-width: 800px){
    .about-section p {
        line-height: 3rem;
        font-weight: bold;
        height:140vh;
    }

    .carousel-item {
        height: 800px;
    }
}
