.footer {
    background-color: #B755F2;
    margin-top: auto;
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

li {
    display: flex;
    flex-direction: column;
}

.footer-text {
    font-family: 'Anton', sans-serif;
    color: white;
}

li :hover + .footer-text {
    color: #38117A;
}

li a {
    text-decoration: none;
}

@media screen and (max-width: 800px){

    .footer {
        margin-top: auto;
    }
    
  }
  