.HomePage {
    background-color: #38117A;
    padding: 20px;
    text-align: center;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}
.image-card {
    position: relative;
    text-align: center;
}
.flip-card {
    width: 400px;
    height: 400px;
    perspective: 1000px;
}
.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    z-index: 2;
}
.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    background-color: rgba(0, 0, 0, 0.3);
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}
.flip-card:hover .flip-card-back {
    opacity: 1;
}
.imageOne,
.imageTwo,
.imageThree {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  .image-content {
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.image-title {
    font-size: 32px;
    font-family: 'Your Font Here', sans-serif;
    margin-bottom: 10px;
}
.image-description {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    display: none;
}
.flip-card:hover .image-description {
    display: block;
}

@media (max-width: 100px) {
    .image-card {
      width: 100%;
      max-width: 400px;
      margin-bottom: 20px;
    }
    
    .flip-card {
      width: 100%;
      height: auto;
      perspective: none;
    }
    
    .flip-card-inner {
      transform: none;
    }
    
    .flip-card-front,
    .flip-card-back {
      position: relative;
      transform: none;
      display: block;
    }
    
    .flip-card-back {
      opacity: 1;
    }
    .imageOne,
  .imageTwo,
  .imageThree {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .image-content {
    position: static;
    text-align: center;
    color: #ffffff;
  }
  
  .image-description {
    display: block;
  }
}
    
  