body {
  background-color: #38117a;
}

.highlight-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 28px;
}

.highlight-Homepage {
  background-color: #38117a;
  padding: 20px;
  font-family: 'Antonio', sans-serif;
}

.card-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 10px;
}

.highlight-title {
  text-align: center;
  color: #fff;
}

.search-card {
  padding: 10px;
}

.search-card input {
  margin: 0;
  width: 400px;
  border-radius: 20px;
  background-color: #b755f2;
}

.add-highlights-button {
  /* padding: 10px; */
}

.add-highlights-button button {
  background-color: #b755f2;
  color: #fff;
  border: none;
  border-radius: 24px;
  padding: 16px 20px;
  font-weight: bold;
  cursor: pointer;
}

.add-highlights-button button:hover {
  opacity: 0.9;
}

.add-button {
  background-color: #b755f2;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.add-button:hover {
  background-color: #fff;
  color: #38117a;
}

.card {
  margin: 0;
  padding: 0;
  position: relative;
  width: 300px;
  height: 450px;
  border: 1px solid #38117a;
  background-color: #b755f2;
  margin-bottom: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-center {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.bottom-center button {
  width: 300px;
  background-color: #b755f2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.bottom-center button:hover {
  background-color: #FFF;
  color: #38117a;
}

.modal {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #b755f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-file {
  background-color: #38117a;
  color: #b755f2;
}

h2 {
  text-align: center;
  color: #fff;
  font-size: 36px;
}

p {
  color: #38117a;
  margin-top: 20px;
}

.add-button {
  background-color: #38117a;
  color: #fff;
  margin-top: 24px;
  border: none;
  padding: 10px 12px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}


@media (max-width: 800px) {

  .search-card {
    flex-grow: 1;
  }

  .search-card input {
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .bottom-center button {
    width: 100%;
  }

  .card-nav {
    display: block;
    text-align: center;
  }

  .search-card input {
    width: 75%;
    padding: 10px;
  }
  
  .add-highlights-button {
    padding: 10px;
  }

  .add-highlights-button button {
    width: 75%;
    word-wrap: break-word;
  }

}
